@charset "UTF-8";
/**
 * 基础样式表
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*禁掉input边框点击出现橘色线框*/
  outline-style: none!important;
}
html,
body,
p,
ul,
ol,
li,
article,
input,
form,
pre,
fieldset,
button,
textarea,
pre,
table,
td,
th,
tr,
blockquote,
legend,
section,
div,
dl,
dt,
dd,
label,
span,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  border: none;
}
html {
  font-size: 14px;
  height: 100%;
}
html,
body {
  min-height: 100%;
  position: relative;
}
body {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", "\9ED1\4F53", "SimHei", sans-serif;
}
ul,
ol,
li {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
img {
  border: 0;
}
a {
  appearance: none;
  text-decoration: none;
  background: transparent;
  color: #333;
}
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button[disabled],
input[disabled] {
  -webkit-appearance: none;
  cursor: default;
  opacity: 0.6;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
button,
input {
  overflow: visible;
  -webkit-appearance: none;
}
::-webkit-search-cancel-button {
  display: none;
}
.cl-black {
  color: #333 !important;
}
.cl-white {
  color: #fff !important;
}
.cl-gray {
  color: #97999b !important;
}
.cl-dgray {
  color: #97999b !important;
}
.cl-lgray {
  color: #bfbfbf !important;
}
.cl-red {
  color: #FF4141 !important;
}
.cl-orange {
  color: #fc6b47 !important;
}
.cl-yellow {
  color: #FFAF10 !important;
}
.cl-blue {
  color: #178EEB !important;
}
.cl-black {
  color: #333 !important;
}
.bg-no {
  background: none !important;
}
.bg {
  background-color: #f5f5f5 !important;
}
.bg-black {
  background-color: #333 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-gray {
  background-color: #97999b !important;
}
.bg-dgray {
  background-color: #97999b !important;
}
.bg-lgray {
  background-color: #bfbfbf !important;
}
.bg-red {
  background-color: #FF4141 !important;
}
.bg-orange {
  background-color: #fc6b47 !important;
}
.bg-yellow {
  background-color: #FFAF10 !important;
}
.bg-blue {
  background-color: #178EEB !important;
}
.ci-white:before {
  color: #fff !important;
}
.ci-black:before {
  color: #333 !important;
}
.ci-blue:before {
  color: #178EEB !important;
}
.ci-red:before {
  color: #FF4141 !important;
}
.ci-orange:before {
  color: #fc6b47 !important;
}
.ci-gray:before {
  color: #97999b !important;
}
.ci-dgray:before {
  color: #97999b !important;
}
.ci-black:before {
  color: #333 !important;
}
.w-auto {
  width: auto !important;
}
.w-33 {
  width: 33.33333%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}
.w5 {
  width: 5px !important;
}
.w10 {
  width: 10px !important;
}
.w15 {
  width: 15px !important;
}
.w20 {
  width: 20px !important;
}
.w25 {
  width: 25px !important;
}
.w30 {
  width: 30px !important;
}
.w35 {
  width: 35px !important;
}
.w40 {
  width: 40px !important;
}
.w45 {
  width: 45px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w65 {
  width: 65px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.w150 {
  width: 150px !important;
}
.w200 {
  width: 200px !important;
}
.w300 {
  width: 300px !important;
}
.h-50 {
  height: 50%;
}
.h-80 {
  height: 80%;
}
.h-100 {
  height: 100%;
}
.wh-100 {
  width: 100%;
  height: 100%;
}
.h1 {
  height: 1px !important;
}
.h5 {
  height: 5px !important;
}
.h10 {
  height: 10px !important;
}
.h15 {
  height: 15px !important;
}
.h20 {
  height: 20px !important;
}
.h25 {
  height: 25px !important;
}
.h30 {
  height: 30px !important;
}
.h35 {
  height: 35px !important;
}
.h40 {
  height: 40px !important;
}
.h45 {
  height: 45px !important;
}
.h50 {
  height: 50px !important;
}
.h55 {
  height: 55px !important;
}
.h60 {
  height: 60px !important;
}
.h65 {
  height: 65px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h90 {
  height: 90px !important;
}
.h100 {
  height: 100px !important;
}
.h28 {
  height: 28px !important;
}
.h42 {
  height: 42px !important;
}
.lh1 {
  line-height: 1px !important;
}
.lh2 {
  line-height: 2px !important;
}
.lh3 {
  line-height: 3px !important;
}
.lh4 {
  line-height: 4px !important;
}
.lh5 {
  line-height: 5px !important;
}
.lh6 {
  line-height: 6px !important;
}
.lh7 {
  line-height: 7px !important;
}
.lh8 {
  line-height: 8px !important;
}
.lh9 {
  line-height: 9px !important;
}
.lh10 {
  line-height: 10px !important;
}
.lh11 {
  line-height: 11px !important;
}
.lh12 {
  line-height: 12px !important;
}
.lh13 {
  line-height: 13px !important;
}
.lh14 {
  line-height: 14px !important;
}
.lh15 {
  line-height: 15px !important;
}
.lh16 {
  line-height: 16px !important;
}
.lh17 {
  line-height: 17px !important;
}
.lh18 {
  line-height: 18px !important;
}
.lh19 {
  line-height: 19px !important;
}
.lh20 {
  line-height: 20px !important;
}
.lh21 {
  line-height: 21px !important;
}
.lh22 {
  line-height: 22px !important;
}
.lh23 {
  line-height: 23px !important;
}
.lh24 {
  line-height: 24px !important;
}
.lh25 {
  line-height: 25px !important;
}
.lh26 {
  line-height: 26px !important;
}
.lh27 {
  line-height: 27px !important;
}
.lh28 {
  line-height: 28px !important;
}
.lh29 {
  line-height: 29px !important;
}
.lh30 {
  line-height: 30px !important;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}
.lh45 {
  line-height: 45px;
}
.lh50 {
  line-height: 50px;
}
.lh55 {
  line-height: 55px;
}
.lh60 {
  line-height: 60px;
}
.lh80 {
  line-height: 80px;
}
.lh-100 {
  line-height: 100%;
}
.mlr5 {
  margin: 0 5px !important;
}
.mlr10 {
  margin: 0 10px !important;
}
.mlr12 {
  margin: 0 12px !important;
}
.mlr15 {
  margin: 0 15px !important;
}
.mlr20 {
  margin: 0 20px !important;
}
.mlr25 {
  margin: 0 25px !important;
}
.mlr30 {
  margin: 0 30px !important;
}
.mc {
  margin: 0 auto !important;
}
.m0 {
  margin: 0 !important;
}
.mt1 {
  margin-top: 1px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt9 {
  margin-top: 9px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt11 {
  margin-top: 11px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mt13 {
  margin-top: 13px !important;
}
.mt14 {
  margin-top: 14px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mt17 {
  margin-top: 17px !important;
}
.mt18 {
  margin-top: 18px !important;
}
.mt19 {
  margin-top: 19px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt21 {
  margin-top: 21px !important;
}
.mt22 {
  margin-top: 22px !important;
}
.mt23 {
  margin-top: 23px !important;
}
.mt24 {
  margin-top: 24px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt26 {
  margin-top: 26px !important;
}
.mt27 {
  margin-top: 27px !important;
}
.mt28 {
  margin-top: 28px !important;
}
.mt29 {
  margin-top: 29px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt31 {
  margin-top: 31px !important;
}
.mt32 {
  margin-top: 32px !important;
}
.mt33 {
  margin-top: 33px !important;
}
.mt34 {
  margin-top: 34px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt36 {
  margin-top: 36px !important;
}
.mt37 {
  margin-top: 37px !important;
}
.mt38 {
  margin-top: 38px !important;
}
.mt39 {
  margin-top: 39px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr1 {
  margin-right: 1px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mr9 {
  margin-right: 9px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr11 {
  margin-right: 11px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mr13 {
  margin-right: 13px !important;
}
.mr14 {
  margin-right: 14px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mr17 {
  margin-right: 17px !important;
}
.mr18 {
  margin-right: 18px !important;
}
.mr19 {
  margin-right: 19px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr21 {
  margin-right: 21px !important;
}
.mr22 {
  margin-right: 22px !important;
}
.mr23 {
  margin-right: 23px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr26 {
  margin-right: 26px !important;
}
.mr27 {
  margin-right: 27px !important;
}
.mr28 {
  margin-right: 28px !important;
}
.mr29 {
  margin-right: 29px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr31 {
  margin-right: 31px !important;
}
.mr32 {
  margin-right: 32px !important;
}
.mr33 {
  margin-right: 33px !important;
}
.mr34 {
  margin-right: 34px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr36 {
  margin-right: 36px !important;
}
.mr37 {
  margin-right: 37px !important;
}
.mr38 {
  margin-right: 38px !important;
}
.mr39 {
  margin-right: 39px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mb1 {
  margin-bottom: 1px !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb9 {
  margin-bottom: 9px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb11 {
  margin-bottom: 11px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb13 {
  margin-bottom: 13px !important;
}
.mb14 {
  margin-bottom: 14px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb17 {
  margin-bottom: 17px !important;
}
.mb18 {
  margin-bottom: 18px !important;
}
.mb19 {
  margin-bottom: 19px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb21 {
  margin-bottom: 21px !important;
}
.mb22 {
  margin-bottom: 22px !important;
}
.mb23 {
  margin-bottom: 23px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb26 {
  margin-bottom: 26px !important;
}
.mb27 {
  margin-bottom: 27px !important;
}
.mb28 {
  margin-bottom: 28px !important;
}
.mb29 {
  margin-bottom: 29px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb31 {
  margin-bottom: 31px !important;
}
.mb32 {
  margin-bottom: 32px !important;
}
.mb33 {
  margin-bottom: 33px !important;
}
.mb34 {
  margin-bottom: 34px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb36 {
  margin-bottom: 36px !important;
}
.mb37 {
  margin-bottom: 37px !important;
}
.mb38 {
  margin-bottom: 38px !important;
}
.mb39 {
  margin-bottom: 39px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml1 {
  margin-left: 1px !important;
}
.ml2 {
  margin-left: 2px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml6 {
  margin-left: 6px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml9 {
  margin-left: 9px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml11 {
  margin-left: 11px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.ml13 {
  margin-left: 13px !important;
}
.ml14 {
  margin-left: 14px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml16 {
  margin-left: 16px !important;
}
.ml17 {
  margin-left: 17px !important;
}
.ml18 {
  margin-left: 18px !important;
}
.ml19 {
  margin-left: 19px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml21 {
  margin-left: 21px !important;
}
.ml22 {
  margin-left: 22px !important;
}
.ml23 {
  margin-left: 23px !important;
}
.ml24 {
  margin-left: 24px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml26 {
  margin-left: 26px !important;
}
.ml27 {
  margin-left: 27px !important;
}
.ml28 {
  margin-left: 28px !important;
}
.ml29 {
  margin-left: 29px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml31 {
  margin-left: 31px !important;
}
.ml32 {
  margin-left: 32px !important;
}
.ml33 {
  margin-left: 33px !important;
}
.ml34 {
  margin-left: 34px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml36 {
  margin-left: 36px !important;
}
.ml37 {
  margin-left: 37px !important;
}
.ml38 {
  margin-left: 38px !important;
}
.ml39 {
  margin-left: 39px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.p0 {
  padding: 0 !important;
}
.p3 {
  padding: 3px !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p12 {
  padding: 12px !important;
}
.plr5 {
  padding: 0 5px !important;
}
.plr10 {
  padding: 0 10px !important;
}
.plr12 {
  padding: 0 12px !important;
}
.plr15 {
  padding: 0 15px !important;
}
.plr20 {
  padding: 0 20px !important;
}
.pt1 {
  padding-top: 1px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt6 {
  padding-top: 6px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt9 {
  padding-top: 9px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt11 {
  padding-top: 11px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pt13 {
  padding-top: 13px !important;
}
.pt14 {
  padding-top: 14px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt16 {
  padding-top: 16px !important;
}
.pt17 {
  padding-top: 17px !important;
}
.pt18 {
  padding-top: 18px !important;
}
.pt19 {
  padding-top: 19px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt21 {
  padding-top: 21px !important;
}
.pt22 {
  padding-top: 22px !important;
}
.pt23 {
  padding-top: 23px !important;
}
.pt24 {
  padding-top: 24px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt26 {
  padding-top: 26px !important;
}
.pt27 {
  padding-top: 27px !important;
}
.pt28 {
  padding-top: 28px !important;
}
.pt29 {
  padding-top: 29px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt31 {
  padding-top: 31px !important;
}
.pt32 {
  padding-top: 32px !important;
}
.pt33 {
  padding-top: 33px !important;
}
.pt34 {
  padding-top: 34px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt36 {
  padding-top: 36px !important;
}
.pt37 {
  padding-top: 37px !important;
}
.pt38 {
  padding-top: 38px !important;
}
.pt39 {
  padding-top: 39px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pr1 {
  padding-right: 1px !important;
}
.pr2 {
  padding-right: 2px !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr6 {
  padding-right: 6px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr9 {
  padding-right: 9px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr11 {
  padding-right: 11px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pr13 {
  padding-right: 13px !important;
}
.pr14 {
  padding-right: 14px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr16 {
  padding-right: 16px !important;
}
.pr17 {
  padding-right: 17px !important;
}
.pr18 {
  padding-right: 18px !important;
}
.pr19 {
  padding-right: 19px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr21 {
  padding-right: 21px !important;
}
.pr22 {
  padding-right: 22px !important;
}
.pr23 {
  padding-right: 23px !important;
}
.pr24 {
  padding-right: 24px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr26 {
  padding-right: 26px !important;
}
.pr27 {
  padding-right: 27px !important;
}
.pr28 {
  padding-right: 28px !important;
}
.pr29 {
  padding-right: 29px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr31 {
  padding-right: 31px !important;
}
.pr32 {
  padding-right: 32px !important;
}
.pr33 {
  padding-right: 33px !important;
}
.pr34 {
  padding-right: 34px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr36 {
  padding-right: 36px !important;
}
.pr37 {
  padding-right: 37px !important;
}
.pr38 {
  padding-right: 38px !important;
}
.pr39 {
  padding-right: 39px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pb1 {
  padding-bottom: 1px !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb6 {
  padding-bottom: 6px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pb9 {
  padding-bottom: 9px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb11 {
  padding-bottom: 11px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pb13 {
  padding-bottom: 13px !important;
}
.pb14 {
  padding-bottom: 14px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb16 {
  padding-bottom: 16px !important;
}
.pb17 {
  padding-bottom: 17px !important;
}
.pb18 {
  padding-bottom: 18px !important;
}
.pb19 {
  padding-bottom: 19px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb21 {
  padding-bottom: 21px !important;
}
.pb22 {
  padding-bottom: 22px !important;
}
.pb23 {
  padding-bottom: 23px !important;
}
.pb24 {
  padding-bottom: 24px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb26 {
  padding-bottom: 26px !important;
}
.pb27 {
  padding-bottom: 27px !important;
}
.pb28 {
  padding-bottom: 28px !important;
}
.pb29 {
  padding-bottom: 29px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb31 {
  padding-bottom: 31px !important;
}
.pb32 {
  padding-bottom: 32px !important;
}
.pb33 {
  padding-bottom: 33px !important;
}
.pb34 {
  padding-bottom: 34px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb36 {
  padding-bottom: 36px !important;
}
.pb37 {
  padding-bottom: 37px !important;
}
.pb38 {
  padding-bottom: 38px !important;
}
.pb39 {
  padding-bottom: 39px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl1 {
  padding-left: 1px !important;
}
.pl2 {
  padding-left: 2px !important;
}
.pl3 {
  padding-left: 3px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl6 {
  padding-left: 6px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl9 {
  padding-left: 9px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl11 {
  padding-left: 11px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.pl13 {
  padding-left: 13px !important;
}
.pl14 {
  padding-left: 14px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl16 {
  padding-left: 16px !important;
}
.pl17 {
  padding-left: 17px !important;
}
.pl18 {
  padding-left: 18px !important;
}
.pl19 {
  padding-left: 19px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl21 {
  padding-left: 21px !important;
}
.pl22 {
  padding-left: 22px !important;
}
.pl23 {
  padding-left: 23px !important;
}
.pl24 {
  padding-left: 24px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl26 {
  padding-left: 26px !important;
}
.pl27 {
  padding-left: 27px !important;
}
.pl28 {
  padding-left: 28px !important;
}
.pl29 {
  padding-left: 29px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl31 {
  padding-left: 31px !important;
}
.pl32 {
  padding-left: 32px !important;
}
.pl33 {
  padding-left: 33px !important;
}
.pl34 {
  padding-left: 34px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl36 {
  padding-left: 36px !important;
}
.pl37 {
  padding-left: 37px !important;
}
.pl38 {
  padding-left: 38px !important;
}
.pl39 {
  padding-left: 39px !important;
}
.pl40 {
  padding-left: 40px !important;
}
/* border 1px */
.half-border-surround {
  position: relative;
  z-index: 1;
}
.half-border-surround:after {
  border-width: 1px !important;
}
.half-border-surround:after {
  z-index: -1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background-color: transparent;
  pointer-events: none;
  -webkit-transform: scale(0.5, 0.5);
  border-radius: 6px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 0 0;
  transform-origin: top left;
  transform: scale(0.5, 0.5);
}
.half-border-left {
  position: relative;
  z-index: 1;
}
.half-border-left:after {
  border-left-width: 1px !important;
}
.half-border-left:after {
  z-index: -1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background-color: transparent;
  pointer-events: none;
  -webkit-transform: scale(0.5, 0.5);
  border-radius: 0px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 0 0;
  transform-origin: top left;
  transform: scale(0.5, 0.5);
}
.half-border-bottom {
  position: relative;
  z-index: 1;
}
.half-border-bottom:after {
  border-bottom-width: 1px !important;
}
.half-border-bottom:after {
  z-index: -1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background-color: transparent;
  pointer-events: none;
  -webkit-transform: scale(0.5, 0.5);
  border-radius: 0px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 0 0;
  transform-origin: top left;
  transform: scale(0.5, 0.5);
}
.half-border-top {
  position: relative;
  z-index: 1;
}
.half-border-top:after {
  border-top-width: 1px !important;
}
.half-border-top:after {
  z-index: -1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background-color: transparent;
  pointer-events: none;
  -webkit-transform: scale(0.5, 0.5);
  border-radius: 0px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 0 0 0;
  transform-origin: top left;
  transform: scale(0.5, 0.5);
}
.bdr3 {
  border-radius: 3px;
}
.bdr5 {
  border-radius: 5px;
}
.bdr10 {
  border-radius: 10px;
}
.bdr25 {
  border-radius: 25px;
}
.bdr-50 {
  border-radius: 50%;
}
.ft10 {
  font-size: 10px;
}
.ft11 {
  font-size: 11px;
}
.ft12 {
  font-size: 12px;
}
.ft13 {
  font-size: 13px;
}
.ft14 {
  font-size: 14px;
}
.ft15 {
  font-size: 15px;
}
.ft16 {
  font-size: 16px;
}
.ft17 {
  font-size: 17px;
}
.ft18 {
  font-size: 18px;
}
.ft19 {
  font-size: 19px;
}
.ft20 {
  font-size: 20px;
}
.ft21 {
  font-size: 21px;
}
.ft22 {
  font-size: 22px;
}
.ft23 {
  font-size: 23px;
}
.ft24 {
  font-size: 24px;
}
.ft25 {
  font-size: 25px;
}
.ft26 {
  font-size: 26px;
}
.ft27 {
  font-size: 27px;
}
.ft28 {
  font-size: 28px;
}
.ft29 {
  font-size: 29px;
}
.ft30 {
  font-size: 30px;
}
.ft0 {
  font-size: 0px;
}
.ft35 {
  font-size: 35px;
}
.ft16 {
  font-size: 16px;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.t0 {
  top: 0;
}
.b0 {
  bottom: 0;
}
.zi10 {
  z-index: 10;
}
.zi1000 {
  z-index: 1000;
}
.van-switch--on {
  background-color: #fc6b47;
}
.van-notice-bar {
  height: 32px;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
  color: #fc6b47;
}
.van-picker__cancel,
.van-picker__confirm {
  color: #fc6b47;
  padding: 0 15px;
  font-size: 16px;
}
.van-picker__title {
  font-size: 16px;
}
.van-cell__title {
  display: flex;
  align-items: center;
}
.van-radio .van-icon-checked {
  color: #fc6b47;
}
.van-checkbox__icon--checked .van-icon {
  color: #fff;
  background-color: #fc6b47;
  border-color: #fc6b47;
}
.van-button {
  height: 50px;
  line-height: 48px;
  font-size: 16px;
}
.van-button--primary {
  background: linear-gradient(to right, #FC6B47, #FF8526);
  border: none;
}
.van-button--plain {
  background: #fff;
  border: 1px solid #FC6B47;
}
.van-button--loading {
  opacity: 0.6;
}
.van-button--plain.van-button--primary {
  color: #fc6b47;
}
.van-button--disabled {
  color: #fff;
  background: #bfbfbf;
  border-color: #bfbfbf;
}
.van-field .van-cell__title {
  max-width: 100px;
}
.van-dialog__message {
  text-align: center !important;
}
* {
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
}
/*clear清除浮动和防止margin-top向上传递*/
.clear {
  zoom: 1;
  /*只有ie能识别*/
}
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.show-ib {
  display: inline-block !important;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.of-hide {
  overflow: hidden;
}
.of-visible {
  overflow: visible!important;
}
.m-h-none {
  max-height: none!important;
}
.pos-f {
  position: fixed !important;
}
.pos-a {
  position: absolute !important;
}
.pos-r {
  position: relative !important;
}
.pos-i {
  position: inherit !important;
}
.fw-n {
  font-weight: normal !important;
}
.fw-b {
  font-weight: bold !important;
}
.ta-c {
  text-align: center !important;
}
.ta-l {
  text-align: left !important;
}
.ta-r {
  text-align: right !important;
}
.ta-j {
  text-align: justify !important;
}
.ver-align-mid {
  vertical-align: middle;
}
.oneline {
  white-space: nowrap !important;
}
.wordbreak {
  word-wrap: break-word;
  word-break: break-all;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.all-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-w {
  flex-wrap: wrap;
}
.justify-sb {
  justify-content: space-between;
}
.justify-c {
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.mask {
  position: fixed !important;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.scrollfix {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.scrollfix-x {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
